table.doc-table-summary {
    line-height: 1rem;
    max-width: 85%;
    overflow-x: scroll;
}

table.doc-table-summary td,
table.doc-table-summary th {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding-right: 0.5rem;
}

th {
    background-color: #c7d8e3;
    height: 3rem;
}

table.doc-table-summary p {
    margin: 0.5rem 0.5rem;
}

table.doc-table-summary tr:nth-child(odd) {
    background-color: #F6F9FE;
}

.return {
    margin-top: 20px;
}

td > ul > li {
    margin-bottom: 5px;
}

/*** For the non-functioning warning ***/
.non-functioning-warning {
    position: relative;
    width: 50%;
    height: 60%;
    text-align: center;
    margin: 0 auto;
}

img.not-functioning-msg-container {
    width: 100%;
    height: 90%;
}

.non-functioning-warning > p {
    position: absolute;
    padding: 1rem;
    margin: 0;
    left: 5%;
    top: 15%;
    width: 100%;
    font-size: 1.5rem;
    font-weight: 700;
    z-index: 1;
}
