.gallery {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: repeat(7, 20vw);
    grid-row-gap: 20px;
    margin: 30px auto 30px;
    width: 140vh;
}

div.gallery-item {
    margin: auto auto;
    padding: 20px 50px 10px 50px;
    text-align: center;
    display: inline-block;
    height: 100%;
    width: 80%;

    background-color: #F1F1F1;
    border-radius: 25px;
}

.gallery-item:after {
    clear: both;
}

div.gallery-item:hover {
    border: 1px solid #777;
}

.thumbnail {
    width: 70%;
    height: 85%;
    max-width: 100%;
    max-height: 100%;
    margin-bottom: 2%;
    background-color: grey;
}

.caption {
    display: block;
    font-weight: 700;
    font-size: 1.5rem;
    color: black;
}

div.domain-desc {
    padding-bottom: 15px;
}

#view-src-code.btn {
    float: right;
    background-color: white;
    border-radius: 25px;
    border: 6px solid #43B9AA;

    color: black;
    font-weight: 700;
}

#view-src-code::after {
    clear: both;
}

.animation-container {
    width: 100%;
    height: 40vw;
}


.collapsible {
    background-color: white;
    border: 5px solid #313b82;
    border-radius: 5px;
    color: black;
    cursor: pointer;
    font-family: 'Raleway';

    padding: 18px;
    width: 100%;
    text-align: left;
    transition-duration: 0.2s;
    outline: none;
    font-size: 15px;
}

.active, .collapsible:hover {
    border: 5px solid #43B9AA;
}

.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #F1F1F1;
    margin-bottom: 1rem;
}