@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
    font-family: 'Raleway', sans-serif;  /* fallback */
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary {
    display: block
}

/** Fonts **/
header,h1,h2,h3,h4,h5,h6 {
    font-family: 'Raleway', cursive;
}

h1.page-name {
    text-transform: uppercase;
    font-size: 50px;
    font-weight: 700;
}

h2.page-tagline {
    font-size: 30px;
    font-weight: 400;
}

code {
    font-family: monospace, monospace;
    font-size: 1em;
    color: #0A369D;
    background-color: transparent;
}

/** Hyperlinks **/
a {
    background-color: transparent;
    color: #006BC8;
    text-decoration: none;
    word-wrap: break-word;
    font-family: 'Raleway', sans-serif;
}

a:hover {
    text-decoration: underline;
    cursor: pointer;
}

/** Button **/
button.btn {
    font-family: 'Raleway', sans-serif;
    background-color: #3F50B6;
    border-radius: 25px;
    color: white;

    padding: 10px;
    border: none;
    display: inline-block;
    transition: color 0.2s, background-color 0.2s, border-color 0.2s;
}

.btn:hover {
    color: white;
    background-color: #313b82;
    cursor: pointer;
}

.btn > a {
    color: white;
}

/** Header **/
.page-header {
    color: black;
    text-align: center;
    background-color: white;
    margin: 0 auto;
}

/* rules for different screens */
@media screen and (min-width: 64em) {
    .page-header {
        padding: 3rem 6rem
    }
}

@media screen and (min-width: 42em) and (max-width: 64em) {
    .page-header {
        padding: 3rem 4rem
    }
}

@media screen and (max-width: 42em) {
    .page-header {
        padding: 2rem 1rem
    }
}

/** General page structure **/
div.page-content {
    margin: 0 auto;
    width: 140vh;
}

.no-match-message {
    color: #888;
    font-style: italic;
    text-align: center;
    margin-top: 15px;
    display: none;
}

/** Subheaders **/

div.page-content h2 {
    display: block;
    padding: 0.7rem;
    background-color: #b9d8dc;
    border-radius: 0.3rem;
    margin-top: calc(max(2rem, 0.7vh));
    margin-bottom: 1rem;
    word-wrap: break-word;
}

div.page-content h2 {
    font-size: 1.5rem;
    font-weight: 500;
}

div.page-content h3 {
    padding: 0.5rem;
    background-color: #e9f2f4;
    border-radius: 0.3rem;
    margin-top: calc(max(2rem, 0.7vh));
    margin-bottom: 1rem;
    word-wrap: break-word;
}

div.page-content h3 {
    font-size: 1.5rem;
    font-weight: 400;
}

a.header-link { /* for the hyperlink symbols */
    font-family: sans-serif;
    color: #006BC8;
    font-size: 0.8em;
    padding: 0 4px 0 4px;
    text-decoration: none;
    visibility: hidden;
}

a.header-link:hover {
    background-color: #488690;
    color: white;
}

h1:hover a.header-link,
h2:hover a.header-link,
h3:hover a.header-link,
h4:hover a.header-link,
h5:hover a.header-link,
h6:hover a.header-link {
    visibility: visible;
}

/* rules for different screens */
@media screen and (min-width: 64em) {
    .page-footer {
        padding: 3rem 6rem
    }
}

@media screen and (min-width: 42em) and (max-width: 64em) {
    .page-footer {
        padding: 2rem 4rem
    }
}

@media screen and (max-width: 42em) {
    .page-footer {
        padding: 1rem 1rem
    }
}

/** Table summaries **/
table,thead,tbody,tr {
    width: 100%
}

table {
    display: table;
    border-collapse: collapse;
    margin: 1rem auto;

    border-color: #CFDEE7;
    border-spacing: 2px;
    border-width: 1px;
}