p {
    font-size: 20px;
    text-align: center;
}

.suggestions {
    padding: 2.5rem;
    background-color: #3F50B6;
    color: white;
    height: 50vh;
}

.suggestions a {
    color: hotpink;
}

.screenshot {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-color: black;
    border-width: thick;
    border-radius: 2%;
}

/* This change should be made in reusable-elements.js */
/* nav-bar should be outside of body and inside of page container */
/* https://www.freecodecamp.org/news/how-to-keep-your-footer-where-it-belongs-59c6aa05c59c/ */

main-footer {
    position: absolute;
    bottom: 2.5rem;
    width: 100%;
    height: 2.5rem;
}



