p {
    font-size: 20px;
    text-align: center;
}

.suggestions {
    padding: 2.5rem;
    background-color: #3F50B6;
    color: white;
    height: 50vh;
}

.suggestions a {
    color: hotpink;
}

.screenshot {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-color: black;
    border-width: thick;
    border-radius: 2%;
}

main-footer {
    position: absolute;
    bottom: 2rem;
    width: 100%;
    height: 2.5rem;
}



