div.gallery-block {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}

div.gallery-block:hover {
    border: 1px solid #777;
}

div.gallery-block img {
    width: 100%;
    height: auto;
}

div.domain-desc {
    padding: 15px;
    text-align: center;
}